:root {
	--cor-primaria: #e9b625;
}

body, html {
	width: 100vw;
	min-height: 90vh;
	height: auto;
}

* {
	box-sizing: border-box;
}

body > div:first-child{
	margin-top: -15px
}

a {
	
            text-decoration: none;
}